/* VARIABLES */
:root {
    --primary-color: #FFF;
    --secondary-color: #FF0101;
    --oswald: 'Oswald', sans-serif;
}
/* BASE */
* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--oswald);
    font-weight: 400;
}

header a:hover {
    color: var(--secondary-color);
}
/* HEADER */
.header {
    overflow: hidden;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

.menu-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-flow: row nowrap;
}

.nav-menu .nav-item {
    margin-left: 2rem;
}

.nav-menu .nav-link {
    display: block;
    height: 20px;
    overflow: hidden;
}

.default-text,
.alt-text {
    transition: all .5s ease-in-out;
}

.alt-text {
    opacity: 0;
}

.nav-menu .nav-item:hover .default-text {
    transform: translateY(-100%);
    opacity: 0;
}

.nav-menu .nav-item:hover .alt-text {
    transform: translateY(-100%);
    transition-delay: .2s;
    opacity: 1;
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 3rem;
    cursor: pointer;
}

.burger-menu,
.burger-menu::before,
.burger-menu::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 1px;
    background: var(--primary-color);
    transition: background .5s ease-in-out;
}

.burger-menu::before {
    top: 8px;
}

.burger-menu::after {
    top: -8px;
}

.menu-btn:hover .burger-menu,
.menu-btn:hover .burger-menu::before,
.menu-btn:hover .burger-menu::after {
    background: var(--secondary-color);
}

.modal-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    background: var(--secondary-color);
    visibility: hidden;
    opacity: 0;
}

.nav-modal {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.close-btn-wrapper {
    display: flex;
    align-self: flex-end;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-btn.first,
.close-btn.second {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 1px;
    background: var(--primary-color);
}

.close-btn-wrapper:hover .close-btn {
    background: #000;
}

.menu-wrapper-modal,
.legal-wrapper {
    margin-bottom: 3rem;
}

.menu-wrapper-modal a {
    font-size: 3rem;
}

.legal-wrapper a {
    font-size: 1.5rem;
}

.support-wrapper a,
.phone-wrapper a {
    font-size: 1rem;
    font-weight: 300;
}

.support-wrapper {
    position: relative;
    padding-top: 1rem;
}

.support-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
}

.nav-item-modal {
    overflow: hidden;
}

.nav-link-modal {
    display: block;
}

.nav-link-modal:hover {
    color: #000;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .nav-item .nav-link {
        display: none;
    }

    .modal-menu {
        height: 100%;
        overflow: auto;
    }

    .menu-wrapper-modal a {
        font-size: 2rem;
    }
}